[submodule "bin/netv2-fpga"]
	path = bin/netv2-fpga
	url = https://github.com/AlphamaxMedia/netv2-fpga
[submodule "bin/netv2-fpga-userimage"]
	path = bin/netv2-fpga-userimage
	url = https://github.com/AlphamaxMedia/netv2-fpga
[submodule "bin/netv2mvp-scripts"]
	path = bin/netv2mvp-scripts
	url = https://github.com/AlphamaxMedia/netv2mvp-scripts.git
[submodule "bin/flterm"]
	path = bin/flterm
	url = https://github.com/timvideos/flterm.git
