# copy this file to /etc/systemd/system
# then run:
#  sudo systemctl start exclave
#  sudo systemctl stop exclave
#  sudo systemctl enable exclave

[Unit]
Description=Exclave tester automation framework service
After=network.target
After=systemd-user-sessions.service

[Service]
User=pi
ExecStart=/home/pi/code/netv2-tests/run_exclave.sh
#Restart=always
#TimeoutSec=60  # I have no idea how to tell systemd the script has started...
#RestartSec=10
#StartTimeLimitInterval=60
#StartLimitBurst=10

[Install]
WantedBy=multi-user.target
